.page-heading {
    .heading-title {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }
}

.card-header-nobg-bb {
    .card-header {
        background-color: transparent;
    }
}
.card-statistics {
    min-height: 100%;
    border: 0;
}

.table-border-rounded {
    width: 100%;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-collapse: separate;
    border-spacing: 0;
    thead {
        th {
            border-top: 0;
            border-bottom: 0;
            font-size: .875rem;
            background: #f9fafb;
        }
        tr {
            &:first-child {
                border-radius: .28571429rem 0 0 0;
            }
            &:last-child {
                border-radius: 0 .28571429rem 0 0;
            }
        }
    }
}


.table-responsive-hr {
    overflow-x: scroll;
}